[Unit]
Description=Rotate GNOME wallpaper timer
 
[Timer]
OnCalendar=hourly
Persistent=true
Unit=gnome-lockscreen-change.service
 
[Install]
WantedBy=timers.target
