[Unit]
Description=Rotate GNOME wallpaper timer
 
[Timer]
OnCalendar=daily
Persistent=true
Unit=gnome-lockscreen-change.service
 
[Install]
WantedBy=gnome-lockscreen-change.service
