[Unit]
Description=Rotate GNOME wallpaper timer
 
[Timer]
OnBootSec=0s
OnUnitActiveSec=15m
Unit=gnome-background-change.service
 
[Install]
WantedBy=timers.target
